* {
    padding: 0;
    margin: 0;
    background-origin: border-box;
}

body{

    font-family: 'Libre Franklin', sans-serif;
    background-color: #FFFFFF;

}

.grid-contenedor-padre-inicio{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7% 87% 6%;
    grid-template-areas: 
        "grid-contenedor-hijo-1"
        "grid-contenedor-hijo-2"
        "grid-contenedor-hijo-3";
}

.grid-contenedor-padre-servicios{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 31% 30% 30% 4%; 
    grid-template-areas: 
        "grid-contenedor-hijo-1"
        "area1"
        "area2"
        "area3"
        "grid-contenedor-hijo-3";
}

.grid-contenedor-hijo-servicios-1{

    grid-area: area1;

}

.grid-contenedor-hijo-servicios-2{

    grid-area: area2;

}


.grid-contenedor-hijo-servicios-3{

    grid-area: area3;

}

.principal__servicios--flex1{

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.principal__servicios--flex2{

    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.principal__servicios--flex3{

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.principal__section--subtitulos{

    text-align: center;
    margin: 2rem;

}

.principal__servicios--parrafo{

    font-style: italic;
    line-height: 2rem;
}


.logo{

    width: 4rem;
    height: 4rem;
    margin: 1rem;
    margin-left: 1.5rem;
    animation: rotacion .7s cubic-bezier(.455,.03,.515,.955) both;
    animation-delay: 2s;
}

@keyframes rotacion{

    0%{transform:rotateY(0)}
    100%{transform:rotateY(360deg)}
}

.header{

    background-color: #6A9C78;
    box-shadow: 5px 10px 8px #888888;
    grid-area: grid-contenedor-hijo-1;
} 


.header__navegacion{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.header__navegacion--ul{

    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4.5rem;
    margin: 2rem;
    margin-right: 3.5rem;
}



.header__navegacion--a{

    text-decoration: none;
    color: white;
    display: inline-block;
    transition: all 1s;
    margin-right: 3rem;

}

.header__navegacion--a:hover{

    transform: scale(1.5, 1.5);  
    

}


.principal{

    text-align: center;
    grid-area: grid-contenedor-hijo-2;
}


.principal__inicio--section1Imagen{

    height: 550px;
    width: 100%;
    object-fit: cover;
    margin-top: 1.5rem;

}


.principal__section1--cita{

    margin: 1rem;
    font-style: italic;

}

.principal__section--boton{

    width: 100px;
    height: 25px;
    margin: 1rem;

}

.principal__section--formulario{

    border: black;
    border-style: solid;
    border-width: 0.1rem;

}

.principal__section--imagen-ilustrativa{

    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin-top: 2rem; */
}


.principal__section--boton{

    border-radius: 4px;
    padding: 0.3rem;
    margin: 0.5rem;

}

.grid-contenedor-padre-nosotros{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 94px 200px 600px 700px 800px 90px; 
    grid-template-areas: 
        "grid-contenedor-hijo-1 grid-contenedor-hijo-1"
        "areaNosotros1 areaNosotros1"
        "areaNosotros2 areaNosotros3"
        "areaNosotros4 areaNosotros4"
        "areaNosotros5 areaNosotros5"
        "grid-contenedor-hijo-3 grid-contenedor-hijo-3";
}

.principal__nosotros--seccion1{

    grid-area: areaNosotros1;

    
}

.principal__nosotros--seccion2{

    grid-area: areaNosotros2;

}

.principal__nosotros--seccion3{

    grid-area: areaNosotros3;

}

.principal__nosotros--seccion4{

    grid-area: areaNosotros4;

}

.principal__nosotros--seccion5{

    grid-area: areaNosotros5;

}

.principal__section--parrafo{

    margin: 1rem;
    line-height: 1.5rem;

}

.principal__nosotros--sectionLista{

    margin: 2rem;

}

.principal__nosotros--sectionImagenIlustrativaObjetivos{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.principal__nosotros--sectionImagenIlustrativa{

    width: 100%;
    height: 75%;
    object-fit: cover;

}

.grid-contenedor-padre-contacto{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 750px 80px;
    grid-template-areas: 
        "grid-contenedor-hijo-1 grid-contenedor-hijo-1"
        "areaContacto1 areaContacto2"
        "grid-contenedor-hijo-3 grid-contenedor-hijo-3";
}

.principal__contacto--mapa{

    grid-area: areaContacto2;
    text-align: center;

}

.principal__contacto--formulario{

    grid-area: areaContacto1;
    text-align: center;
}

form{

    width: 70%;
    background-color: #ebefec;
    border: solid 1px;
    border-radius: 4px;
    margin-left: 9rem;

}

.principal__contacto--formularioEtiquetas{

    margin: 2rem;

}


.grid-contenedor-padre-clientes{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 94px 600px 350px 350px 300px 90px; 
    grid-template-areas: 
        "grid-contenedor-hijo-1 grid-contenedor-hijo-1"
        "areaClientes1 areaClientes1"
        "areaClientes2 areaClientes3"
        "areaClientes4 areaClientes5"
        "areaClientes6 areaClientes6"
        "grid-contenedor-hijo-3 grid-contenedor-hijo-3";
}

.grid-contenedor-hijo-clientes-1{

    grid-area: areaClientes1;

}


.grid-contenedor-hijo-clientes-2{

    grid-area: areaClientes2;
    display: flex;
    flex-direction: row;
    margin: 1rem;

}


.grid-contenedor-hijo-clientes-3{

    grid-area: areaClientes3;
    display: flex;
    flex-direction: row;
    margin: 1rem;

}


.grid-contenedor-hijo-clientes-4{

    grid-area: areaClientes4;
    display: flex;
    flex-direction: row;
    margin: 1rem;

}


.grid-contenedor-hijo-clientes-5{

    grid-area: areaClientes5;
    display: flex;
    flex-direction: row;
    margin: 1rem;

}


.grid-contenedor-hijo-clientes-6{

    grid-area: areaClientes6;
    text-align: center;
    margin-bottom: 2rem;
    border-top: solid 1px;
    border-bottom: solid 1px;

}

.principal__clientes--video{

    text-align: center;

}

.principal__section--imagen-ilustrativaClientes{

    width: 65%;
    height: 90%;
    object-fit: cover;

}

.principal__section--logoPatrocinador{

    width: 10%;
    height: 35%;
    margin: 1rem;
}


.footer{

    background-color: #6A9C78;
    box-shadow: 8px -10px 5px #888888;
    grid-area: grid-contenedor-hijo-3;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: row;
    justify-content: space-between;
}


.footer__logo--derechos{

    display: flex;
    flex-direction: row;
    align-items: flex-end;

}

.footer__logo--guitarra{

    margin-top: 7rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    animation: rotacion .5s cubic-bezier(.455,.03,.515,.955) both

}

.footer__logo--p{

    margin-bottom: 1rem;

}


.footer__logo--redes{

   margin-top: 8rem;
   margin-left: 0.5rem;
   width: 2rem;
   height: 2rem;
   display: inline-block;
    transition: all 1s;

}

.footer__logo--redes:hover{

    transform: scale(1.5, 1.5);  
    overflow: hidden;

}
/* Media Queries */

/* Responsive Index */

@media screen and (max-width: 988px) {
    
    .grid-contenedor-padre-inicio{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8% 86% 7%;
        grid-template-areas: 
            "grid-contenedor-hijo-1"
            "grid-contenedor-hijo-2"
            "grid-contenedor-hijo-3";
    }

    .header{

        background-color: #6A9C78;
        grid-area: grid-contenedor-hijo-1;
    } 

    .principal{

        text-align: center;
        grid-area: grid-contenedor-hijo-2;
    }

    .principal__inicio--section1Imagen{

        width: 100%;
        height: auto;
        margin: 1 auto;

    }
    

    /* Responsive Servicios */

    .grid-contenedor-padre-servicios{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3% 31% 32% 32% 2%; 
        grid-template-areas: 
            "grid-contenedor-hijo-1"
            "area1"
            "area2"
            "area3"
            "grid-contenedor-hijo-3";
    }
    
    .grid-contenedor-hijo-servicios-1{
    
        grid-area: area1;
    
    }
    
    .grid-contenedor-hijo-servicios-2{
    
        grid-area: area2;
    
    }
    
    
    .grid-contenedor-hijo-servicios-3{
    
        grid-area: area3;
    
    }
    
    .principal__servicios--flex1{
    
        display: flex;
        flex-direction: column;
        
        
    }
    
    .principal__servicios--flex2{
    
        display: flex;
        flex-direction: column;
        
        
    }
    
    .principal__servicios--flex3{
    
        display: flex;
        flex-direction: column;
        

    }

    .principal__section--subtitulos{

        text-size-adjust: auto;

    }

    
    .principal__servicios--parrafo{
    
        margin: 1rem;
        line-height: 1.5rem;
        font-size: small;
    }

    .principal__section--imagen-ilustrativa{

        width: 23rem;
        height: auto;
        margin: 0 auto;

    }

    /* Responsive Nosotros */

    .grid-contenedor-padre-nosotros{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 130px 325px 200px 600px 800px 800px 120px; 
        grid-template-areas: 
            "grid-contenedor-hijo-1"
            "areaNosotros1"
            "areaNosotros2"
            "areaNosotros3"
            "areaNosotros4"
            "areaNosotros5"
            "grid-contenedor-hijo-3";
    }
    
    .principal__nosotros--seccion1{
    
        grid-area: areaNosotros1;
    
        
    }
    
    .principal__nosotros--seccion2{
    
        grid-area: areaNosotros2;
    
    }
    
    .principal__nosotros--seccion3{
    
        grid-area: areaNosotros3;
    
    }
    
    .principal__nosotros--seccion4{
    
        grid-area: areaNosotros4;
    
    }
    
    .principal__nosotros--seccion5{
    
        grid-area: areaNosotros5;
    
    }

    /* Responsive Contacto */

    .grid-contenedor-padre-contacto{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 9% 40% 43% 8%;
        grid-template-areas: 
            "grid-contenedor-hijo-1"
            "areaContacto1"
            "areaContacto2"
            "grid-contenedor-hijo-3";
    }
    
    .principal__contacto--mapa{
    
        grid-area: areaContacto2;
        text-align: center;
    
    }
    
    .principal__contacto--formulario{
    
        grid-area: areaContacto1;
        text-align: center;
    }
    
    form{
    
        width: 70%;
        background-color: #ebefec;
        border: solid 1px;
        border-radius: 4px;
        margin-left: 6rem;
    
    }
    
    .principal__contacto--formularioEtiquetas{
    
        margin: 2rem;
    
    }

    /* Responsive Clientes */

    .grid-contenedor-padre-clientes{

        /* display: grid; */
        grid-template-columns: 1fr;
        grid-template-rows: 120px 600px 390px 390px 390px 390px 250px 140px; 
        grid-template-areas: 
            "grid-contenedor-hijo-1"
            "areaClientes1"
            "areaClientes2" 
            "areaClientes3"
            "areaClientes4" 
            "areaClientes5"
            "areaClientes6"
            "grid-contenedor-hijo-3";
    }
    
    .grid-contenedor-hijo-clientes-1{
    
        grid-area: areaClientes1;
    
    }
    
    
    .grid-contenedor-hijo-clientes-2{
    
        grid-area: areaClientes2;
        flex-direction: column;
        align-items: center;
        margin: 2.5rem;
    
    }
    
    
    .grid-contenedor-hijo-clientes-3{
    
        grid-area: areaClientes3;
        flex-direction: column;
        align-items: center;
        margin: 2.5rem;
    
    }
    
    
    .grid-contenedor-hijo-clientes-4{
    
        grid-area: areaClientes4;
        flex-direction: column;
        align-items: center;
        margin: 2.5rem;
    
    }
    
    
    .grid-contenedor-hijo-clientes-5{
    
        grid-area: areaClientes5;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3.5rem;
    
    }
    
    
    .grid-contenedor-hijo-clientes-6{
    
        grid-area: areaClientes6;
    
    }

    .principal__section--imagen-ilustrativaClientes{

        width: 75%;
        height: 90%;
    
    }

    /* Responsive Header y Footer */

    .header__navegacion{
    
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    .header__navegacion--ul{

        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding-bottom: 2rem;

    }

    .logo{

        width: 3rem;
        height: 3rem;
        margin: 0.5rem;

    }


    .footer{

        grid-area: grid-contenedor-hijo-3;
        align-content: center;
        flex-direction: row;
        margin-top: 1rem;
    }

    
    .footer__logo--guitarra{
    

        display: none;
        
    }
    
    .footer__logo--redesFlex{

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4rem;
        margin: 0 auto;

    }
    .footer__logo--redes{
    
       margin: 0;
       width: 2rem;
       height: 2rem;
       padding: 0.5rem;
    
    }

    .footer__logo--p{

        display: none;
    }


}


    



