@import "./components/variables";
@import "./components/global";
@import "./components/header";
@import "./components/footer";

// CSS Index

.principalInicio{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "area0"
        "area1"
        "area2"
        "area3"
    ;

    

    .barraNavegacion{

        grid-area: area0;

    }

    .bienvenidaInicio{

        grid-area: area1;
        text-align: center;
        position: relative;

        &__img{

            @include bienvenidaBoxImg;

        }

        &__box{

            @include bienvenidaBox;
            @include bienvenidaBoxParrafo;
            
            &--subtitulo{

                margin-top: 85px;
                font-size: 25px;
                font-weight: 200;

            }

            &--titulo{

                font-size: 65px;
                font-weight: 700;

            }

            &--enlace{

                display: inline-block;
                padding: 10px;
                border-radius: 10px;
                background-color: $bgColor;
                color: $bgColorNav;
                text-decoration: none;
                margin-top: 20px;

            }

        }

    }

    .historiaInicio{

        grid-area: area2;
        background: linear-gradient(180deg, rgba(36,161,156,1) 85%, rgba(241,241,241,1) 100%);
        color: $bgColor;
        display: flex;

        &__objetivos{

            color: $bgColor;
            width: 40%;
            padding: 40px;
            height: 650px;

            &--lista{

                ul{

                    margin-top: 60px;

                }

            }

            &--boton{

                @extend .bienvenidaInicio__box--enlace;
                display: block;
                width: 90px;
                margin: 0 auto;

            }
        }    

        &__instrumentos{

            width: 60%;
            padding: 40px;

            .flexInstrumentos1, .flexInstrumentos2{

                display: flex;

            }
        }
        
    }

    .historiaVideo{
    
        grid-area: area3;
        text-align: center;
        padding: 55px;
        margin: 25px;
    
        &--iframe{
    
            margin: 50px;
    
        }
    
        &__parrafo{
    
            margin: 30px;
        }
    }
}    

// CSS - Servicios

.principalServicios{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "area0"
        "area1"
        "area2"
        "area3"
        "area4"
        "area5"
    ;

    .barraNavegacion{

        grid-area: area0;

    }
    
    .serviciosBienvenida{

        grid-area: area1;
        position: relative;

        &__box{
            
            @include bienvenidaBox;
            @include bienvenidaBoxParrafo;

            &--titulo{

                font-size: 65px;
                font-weight: 700;
    
            }

        }
        
        &__imagen{
            
            @include bienvenidaBoxImg;
             
        }
        
        
    }

    .serviciosDiseñoConstruccion{

        padding: 40px;
        grid-area: area2;
        color: $bgColor;
        background: rgb(36,161,156);
        background: linear-gradient(180deg, rgba(36,161,156,1) 95%, rgba(241,241,241,1) 100%);

    .flexDiseño{

        @include flexServicio;

        &__imagen{

            @include imgServicio;
            border-color: $bgColor; 

        }

        &__parrafo{

            @include parrafoServicio;
            margin-right: 0;
            
        }
    }

    }  
    
    .serviciosRestauracion{

        grid-area: area3;
        background-color: $bgColor;
        padding: 40px;
        background: rgb(241,241,241);
        background: linear-gradient(180deg, rgba(241,241,241,1) 95%, rgba(36,161,156,1) 100%);

        .flexRestauracion{

            @include flexServicio;
            flex-direction: row-reverse;

            &__imagen{

                @include imgServicio;
                border-color: $bgColorNav;
    
            }
    
            &__parrafo{
    
                @include parrafoServicio;
                margin-left: 0;
                color: black;
                
            }

        }

    }

    .serviciosReparacion{

        grid-area: area4;
        color: $bgColor;
        padding: 40px;
        background: rgb(36,161,156);
        background: linear-gradient(180deg, rgba(36,161,156,1) 95%, rgba(241,241,241,1) 100%);
        

        .flexReparacion{

            @include flexServicio;

            &__imagen{

                @include imgServicio;
                border-color: $bgColor;
    
            }
    
            &__parrafo{
    
                @include parrafoServicio;
                margin-right: 0;
                
            }

        }

    }

    .serviciosGaleria{

        grid-area: area5;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 120px;

        .imgCarouselServicios{

            width: 1000px;
            height: 600px;
            object-fit: cover;
            margin: 0 auto;

        }

        .carousel{

            .carousel-control-prev-icon {

                color: $bgColorNav;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2324A19C' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
            
            }
            
            .carousel-control-next-icon {

                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2324A19C' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
            
            }

        }
    }
}

// CSS - Nosotros

.principalNosotros{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "area0"
        "area1"
        "area2"
        "area3"
        "area4";

    .barraNavegacion{

        grid-area: area0;

    }

    .nosotrosBienvenida{

        grid-area: area1;
        position: relative;
        
        &__imagen{

            @include bienvenidaBoxImg;

        }

        &__box{

            @include bienvenidaBox;
            @include bienvenidaBoxParrafo;

            &--titulo{

                font-size: 65px;
                font-weight: 700;
    
            }

        }

    }

    &__objetivos{

        grid-area: area2;
        background: rgb(241,241,241);
        background: linear-gradient(180deg, rgba(241,241,241,1) 95%, rgba(36,161,156,1) 100%);

        .subtitulo-taller{

            margin-top: 0px;

        }

        &--flex1{

            display: flex;
            justify-content: space-evenly;

            .imagenObjetivo{

                @include imgNosotrosCard;

            }

            .parrafoObjetivo{

                @include parrafoNosotrosCard;
                background-color: $bgColorNav;

            }

        }

        &--flex2{

            display: flex;
            justify-content: space-evenly;
            padding-bottom: 40px;

            .imagenObjetivo{

                @include imgNosotrosCard;

            }

            .parrafoObjetivo{

                @include parrafoNosotrosCard;
                background-color: $bgColorNav;

            }

        }

    }

    &__bioTaller{

        grid-area: area3;
        background: rgb(36,161,156);
        background: linear-gradient(180deg, rgba(36,161,156,1) 95%, rgba(241,241,241,1) 100%);
        color: $bgColor;
        margin-bottom: 80px;
    
        &--imagen{

            width: 100%;
            height: 700px;
            object-fit: cover;

        }

        &--parrafo{

            padding: 15px;

        }

    }

    &__bioEquipo{

        grid-area: area4;
        border-radius: 10px;
        box-shadow: $bxshadow;
        text-align: center;
        margin: 30px;

        &--p{

            padding: 10px;

        }

        .caja-lider{

            margin: 0 auto;
            margin-bottom: 40px;

        }

        &--flex1, &--flex2{

            display: flex;
            justify-content: center;
            gap: 40px;
            margin-bottom: 20px;

            .imagenObjetivo{

                @include imgNosotrosEquipo;

            }

        }

    }
}

//CSS - Clientes

.principalClientes{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "area0"
        "area1"
        "area2"
        "area3"
        "area4"
        ;

    .barraNavegacion{

        grid-area: area0;

    }

    .clientesBienvenida{

        grid-area: area1;
        position: relative;

        &__imagen{

            @include bienvenidaBoxImg;

        }

        &__box{

            @include bienvenidaBox;
            @include bienvenidaBoxParrafo;

            &--titulo{

                font-size: 65px;
                font-weight: 700;
    
            }

        }

    }

    &__video{

        grid-area: area2;
        text-align: center;
        background: rgb(241,241,241);
        background: linear-gradient(180deg, rgba(241,241,241,1) 95%, rgba(36,161,156,1) 100%);
        padding: 90px;

    }

    .principalClientesTarjeta{

        grid-area: area3;
        background: rgb(36,161,156);
        background: linear-gradient(180deg, rgba(36,161,156,1) 95%, rgba(241,241,241,1) 100%);

        .subtClientes{

            color: $bgColor;
            font-size: 35px;

        }

        &__flex1, &__flex2{
            
            display: flex;
    
            .cardCliente{
    
                display: flex;
    
                @include tarjeta($bgColor);
        
                &__imagen{
        
                    @extend .imgTarjetaClientes;
        
                }
        
                &__p{
        
                    margin-left: 35px;
                    margin-top: 50px;
                    padding: 10px;
                    font-style: italic;
                }
        
            }
    
        }

    }

    &__patrocinio{
        
        grid-area: area4;

        .subtPatrocinio{

            margin-bottom: 75px;

        }

        .carousel{

            .carousel-control-prev-icon {

                color: $bgColorNav;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2324A19C' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
            
            }
            
            .carousel-control-next-icon {

                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2324A19C' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
            
            }

        }

    }

    .imagenPatrocinador{

        width: 250px;
        height: 170px;
        margin: 0 auto; 
        margin-bottom: 40px;

    }

}

.botonesRRSS{

    margin-left: 35px;

    &--instagram, &--spotify, &--youtube{

        background-color: $bgColorNav;
        color: $bgColor;
        padding: 3px;
        border-radius: 10px;

    }
};

// CSS - Contacto

.principalContacto{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "area1 area2";

    margin-top: 100px;
    margin-bottom: 100px;

    &__formulario{

        grid-area: area2;
        text-align: center;
        border: 1px solid;
        background-color: $bgColorNav;
        color: $bgColor;
        border-radius: 10px;
        width: 60%;
        height: auto;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;

        .datos-input{

            margin-bottom: 10px;

        }

        .etiqueta-input{

            display: inline-block;
            width: 22%;


        } 

        .subtituloFormulario{

            margin: 30px;

        }

        .botonesFormulario{

            margin: 40px 10px;
            
            .boton-diseño{
                
                padding: 5px;
                border-radius: 10px;

            }

        }
        
    }

    &__mapa{

        grid-area: area1;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;

        &--iconos{

            display: flex;
            justify-content: space-around;

            svg{

                margin: 0 auto;

            }

            p{

                margin: 15px;

            }

        }

        iframe{

            margin-top: 50px;

        }

    }

}

@import "./components/media-queries";