@import "./components/variables";
@import "./components/global";
@import "./components/header";
@import "./components/footer";


// CSS Index

.principalInicio{

    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    width: 100%; 

}

.bienvenida{

    text-align: center;

    &__img{

        width: 100%;
        height: 550px;
        object-fit: cover;
        margin-top: 35px;
    }

    &__cita{

        background-color: $bgColorCard;
        font-style: italic;
        margin-top: 30px;
        border-radius: 20px;
        box-shadow: $bxshadow;

    }

}

.historia{

    text-align: center;

    // &__titulo{

    //     margin-bottom: 20px;
    // }

    &__parrafo{

        margin: 30px;
    }

}

// CSS - Servicios

.principalServicios{

    display: grid;
    grid-template-columns: 1fr;
    gap: 35px;
    width: 100%;

    .mainFlexServicios{

        display: flex;
        gap: 20px;
        margin: 10px;

        &__imagen{
        
            border-radius: 1220px;
            width: 30%;
            height: 40%;
            object-fit: cover;
        }

        &__parrafo{

            text-align: justify;
            font-size: medium;
            line-height: 2.3rem;
        }
    }
}

// CSS - Nosotros

.principalNosotros{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "area1"
        "area2"
        "area3"
        "area4";

    &__descripcion{

        grid-area: area1;

    }

    &__objetivos{

        grid-area: area2;
        display: flex;
        justify-content: space-between;

        &--lista{

            list-style: none;
            margin-top: 40px;

        }

        &--imagen{

            @include img-size(1000px);

        }

    }

    &__bioTaller{

        grid-area: area3;

        &--imagen{

            @include img-size(100%);

        }

    }

    &__bioEquipo{

        grid-area: area4;

        &--imagen{

            @include img-size(100%);
            margin-bottom: 40px;
            
        }
    }
}

//CSS - Clientes

.principalClientes{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "area1 area1"
        "area2 area3"
        "area4 area5"
        "area6 area6"
        ;

    &__video{

        grid-area: area1;
        margin: 20px;
        text-align: center;

    }

    &__op1{

        grid-area: area2;
        display: flex;
        @include tarjeta(yellow);

        &--imagen{

            @extend .imgTarjetaClientes;

        }

        &--imagen:hover{

            transform: scale(1.2, 1.2); 

        }

        &--p{

            margin-left: 35px;
            margin-top: 50px;
            font-style: map-get($mapaRRSSClientesEstilo, cita);
        }

        @each $boton, $color in $mapaRRSSClientesBotones {

            .botonesRRSS--#{$boton} {
                background-color: $color;
            }
            
        }

    }

    &__op2{
        
        grid-area: area3;
        display: flex;
        @include tarjeta(turquoise);

        &--imagen{

            @extend .imgTarjetaClientes;

        }

        &--imagen:hover{

            transform: scale(1.2, 1.2); 

        }

        &--p{

            margin-left: 35px;
            margin-top: 50px;
            font-style: map-get($mapaRRSSClientesEstilo, cita);
        }

        @each $boton, $color in $mapaRRSSClientesBotones {

            .botonesRRSS--#{$boton} {
                background-color: $color;
            }
    
        }
    }

    &__op3{
        
        grid-area: area4;
        display: flex;
        @include tarjeta(grey);

        &--imagen{

            @extend .imgTarjetaClientes;

        }

        &--imagen:hover{

            transform: scale(1.2, 1.2); 

        }

        &--p{

            margin-left: 35px;
            margin-top: 50px;
            font-style: map-get($mapaRRSSClientesEstilo, cita);
        }

    }

    &__op4{
        
        grid-area: area5;
        display: flex;
        @include tarjeta(pink);

        &--imagen{

            @extend .imgTarjetaClientes

        }

        &--imagen:hover{

            transform: scale(1.2, 1.2); 

        }

        &--p{

            margin-left: 35px;
            margin-top: 50px;
            font-style: map-get($mapaRRSSClientesEstilo, cita);
        }

        
    }

    @each $boton, $color in $mapaRRSSClientesBotones {

        .botonesRRSS--#{$boton} {
            background-color: $color;
        }
        
    }

    &__patrocinio{
        
        grid-area: area6;

    }

    .imagenPatrocinador{

        width: 250px;
        height: 170px;
        margin: 0 auto;

    }

}

.botonesRRSS{

    margin-left: 35px;

    &--instagram{

        padding: 3px;
        border-radius: map-get($mapaRRSSClientesEstilo, bordesRedondos);

    }

    &--spotify{

        padding: 3px;
        border-radius: map-get($mapaRRSSClientesEstilo, bordesRedondos);

    }

    &--youtube{

        padding: 3px;
        border-radius: map-get($mapaRRSSClientesEstilo, bordesRedondos);

    }

};



// CSS - Contacto

.principalContacto{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "area1 area2";

    &__formulario{

        grid-area: area1;
        text-align: center;

    }

    &__mapa{

        grid-area: area2;
        text-align: center;
        margin-bottom: 20px;

    }

}


