.redesFooter{

    background-color: $bgColorNav;
    display: flex;
    justify-content: space-between;

    &__derechos{

        margin-left: 15px;
        margin-top: 15px;
        
    }

    &__logoRedSocial{

        margin-top: 75px;
        margin-right: 15px;

    }
}