.redesFooter{

    background-color: $bgColorNav;

    &__logoRedSocial{

        display: flex;
        justify-content: center;
        gap: 50px;
        padding: 20px;

    }

    &__derechos{

        text-align: center;
        font-size: small;
        margin-bottom: 0;
        
    }

}