// Media Queries Index

@media screen and (max-width: 600px) {
    
    // Index Responsive

    .principalInicio{

        .bienvenidaInicio{
    
            &__img{

                @include imgBienvenidaGeneralResponsive;

            }

            &__box{

                @include bienvenidaBoxResponsive;

                &--subtitulo{

                    margin-top: 0px;

                }

                &--titulo{

                    font-size: 35px;

                }

                &--parrafo{

                    font-size: 15px;

                }

            }

        }

    
        .subtitulo{
    
            font-size: 28px;
    
        }
    
        .historiaInicio{
    
            flex-direction: column;
            background: linear-gradient(180deg, rgba(36,161,156,1) 85%, rgba(241,241,241,1) 100%);

            &__objetivos{
                
                width: 100%;
                padding: 20px;
                height: auto;
                background: rgb(241,241,241);
                background: linear-gradient(180deg, rgba(241,241,241,1) 85%, rgba(36,161,156,1) 100%);
                color: black;
    
                &--lista{
    
                    ul{
        
                        margin-top: 0px;
                        font-size: smaller;
        
                    }
                }
                
                &--boton{

                    border: solid 0.5px;

                }
            }

            &__instrumentos{

                width: 100%;
                
                .flexInstrumentos1, .flexInstrumentos2{

                    flex-direction: column;
                    gap: 20px;
                    margin-bottom: 30px;
                    
                }

            }            
                
        }

        .historiaVideo{

            padding: 0px;
            margin: 0px;

            .subtitulo{

                font-size: 25px;

            }
    
            &__iframe{
    
                width: 75%;
                height: auto;
    
            }
    
            &__parrafo{
        
                margin: 20px;

            }

        }

    }

    // Servicio Responsive

    .principalServicios{

        .serviciosBienvenida{

            &__imagen{

                @include imgBienvenidaGeneralResponsive;

            }

            &__box{

                @include bienvenidaBoxResponsive;

                &--titulo{

                    font-size: 35px;

                }

            }

        }

        .serviciosDiseñoConstruccion{

            grid-area: area2;
            color: black;
            background: rgb(241,241,241);
            background: linear-gradient(180deg, rgba(241,241,241,1) 85%, rgba(36,161,156,1) 100%);

            .subtitulo{

                font-size: 25px;

            }            
        
            .flexDiseño{
        
                flex-direction: column;
        
                &__imagen{
        
                    @include imgServicioResponsive($bgColorNav);
        
                }
        
                &__parrafo{
        
                    @include parrafoServicioResponsive;
                    color: inherit;
                    
                }
            }
    
        }  
        
        .serviciosRestauracion{
    
            grid-area: area3;
            color: $bgColor;
            background: rgb(36,161,156);
            background: linear-gradient(180deg, rgba(36,161,156,1) 85%, rgba(241,241,241,1) 100%);

            .subtitulo{

                font-size: 25px;

            }    
    
            .flexRestauracion{
    
                flex-direction: column;
    
                &__imagen{
    
                    @include imgServicioResponsive($bgColor);
        
                }
        
                &__parrafo{
        
                    @include parrafoServicioResponsive;
                    color: inherit;
                    
                }
    
            }
    
        }
    
        .serviciosReparacion{
    
            grid-area: area4;
            background: rgb(241,241,241);
            color: black;

            .subtitulo{

                font-size: 25px;

            }    
    
            .flexReparacion{
    
                flex-direction: column;
    
                &__imagen{
    
                    @include imgServicioResponsive($bgColorNav);
        
                }
        
                &__parrafo{
        
                    @include parrafoServicioResponsive;
                    color: inherit;
                    margin-bottom: 10px;
                    
                }
    
            }
    
        }
    
        .serviciosGaleria{

            margin-bottom: 50px;
            width: 320px;
            height: auto;

            .subtitulo{

                font-size: 25px;

            }    
    
            .imgCarouselServicios{
    
                width: 100%;
                height: 300px;
    
            }
        }
    }
    

    // Nosotros Responsive

    .principalNosotros{

        .subtitulo{

            font-size: 25px;

        }

        .nosotrosBienvenida{
            
            &__imagen{
    
                @include imgBienvenidaGeneralResponsive;
    
            }
    
            &__box{
    
                @include bienvenidaBoxResponsive;

                &--titulo{

                    font-size: 35px;

                }
    
            }
    
        }

        &__objetivos{
    
            flex-direction: column;

            
        &--flex1{

            flex-direction: column;

            .imagenObjetivo{

                @include imgNosotrosCardResponsive;

            }

            .parrafoObjetivo{

                @include parrafoNosotrosCardResponsive;
                background-color: $bgColorNav;

            }

        }

        &--flex2{

            flex-direction: column;
            padding-bottom: 0px;

            .imagenObjetivo{

                @include imgNosotrosCardResponsive;

            }

            .parrafoObjetivo{

                @include parrafoNosotrosCardResponsive;
                

            }

        }

        }


        &__bioTaller{

            margin-bottom: 100px;
            background: $bgColor;
            color: black;
            text-align: center;
    
            &--imagen{
    
                @include imgNosotrosTallerResponsive;
    
            }
    
        }
    
        &__bioEquipo{
    
            width: 290px;
            margin: 0 auto;
    
            .caja-lider{
    
                margin: 0 auto;
                margin-bottom: 40px;
                width: 250px;
                height: auto;
    
            }
    
            &--flex1{
    
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;

                .tarjeta-1, .tarjeta-2, .tarjeta-3{

                    @include cardResponsive;

                }
            }
    
            &--flex2{
    
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
    
                .tarjeta-4, .tarjeta-5, .tarjeta-6{

                    @include cardResponsive;

                }
    
            }
        }

    }


    // Clientes Responsive

    .principalClientes{

        .clientesBienvenida{
            
            &__imagen{
    
                @include imgBienvenidaGeneralResponsive;
    
            }
    
            &__box{
    
                @include bienvenidaBoxResponsive;

                &--titulo{

                    font-size: 35px;

                }
    
            }
    
        }

        &__video{

            padding: 30px;

            iframe{

                width: 90%;
                height: auto;

            }

        }

        .principalClientesTarjeta{

            .subtClientes{

                font-size: 25px;

            }

            &__flex1, &__flex2{

                flex-direction: column;

                .cardCliente, .cardCliente2{

                    flex-direction: column;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    width: 280px;

                    &__imagen{

                        width: 100%;
                        height: auto;

                    }

                    &__p{

                        font-size: smaller;
                        margin: 20px

                    }

                }
            }
        }

        .botonesRRSS{

            margin-left: 0px;
            margin-bottom: 20px;
            text-align: center
        
        };

        &__patrocinio{

            width: 200px;
            margin: 0 auto;

            .subtPatrocinio{

                font-size: 25px;

            }

            .imagenPatrocinador{

                width: 140px;  
                height: 120px;

            }

        }

    }

    // Contacto Responsive

    .principalContacto{

        grid-template-columns: 1fr;
        grid-template-areas: 
            "area1"
            "area2";

            margin-top: 10px;
            margin-bottom: 10px;

        &__formulario{

            width: 300px;

        }

        &__mapa{

            grid-area: area1;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 20px;
    
            &--iconos{
    
                display: flex;
                flex-direction: column;
    
                svg{
    
                    margin: 0 auto;
    
                }
    
                p{
    
                    margin: 15px;
    
                }
    
            }

        iframe{

            width: 300px;


        }

    }
    }    

    // Footer

    .redesFooter{

        .logo-redes{
    
            width: 25px;
            
        }
    
    }
}