// Media Queries Index

@media screen and (max-width: 600px) {
    
    
    .carouselInicio{
        
        display: none;
        
    }

    .bienvenida{

        &__img {
            width: 350px;
            height: 450px;
            object-fit: cover;
        }

        &__cita{

            font-size: $parrafoResponsive;
            width: 300px;
            margin: 0 auto;
    
        }

    }

    .foto-mobile{

        display: block;
        // width: 350px;
        // height: 450px;

    }

    .historia{

        &__parrafo{

            font-size: $parrafoResponsive;
    
        }

    }

    iframe{

        width: 300px;
        height: 200px;

    }


    // Servicio

    .principalServicios{

        .mainFlexServicios{

            flex-direction: column;

            &__imagen{

                width: 300px;
                margin: 0 auto;
            }

            &__parrafo{

                font-size: $parrafoResponsive;
                line-height: 2rem;

            }

    }

    }

    // Nosotros

    .principalNosotros{

        font-size: small;

        &__objetivos{
    
            flex-direction: column;
    
            &--lista{
                
                text-align: center;
                margin-right: 30px;
                
            }
            
            &--imagen{
                
                @include img-size-responsive(50%)
                
            }
        }


        &__bioTaller{

            &--imagen{

                @include img-size-responsive(40%)

            }

        }

        &__bioEquipo{

            &--imagen{

                @include img-size-responsive(40%)

            }

        }

    }


    // Clientes

    .principalClientes{

        grid-template-columns: 1fr;
        grid-template-areas: 
            "area1"
            "area2"
            "area3"
            "area4"
            "area5"
            "area6";

        &__op1, &__op2, &__op3, &__op4{

            margin: 0 auto;
            margin-bottom: 20px;
            width: 275px;
            height: 390px;
            font-size: small;
            flex-direction: column;

            &--imagen{

                width: 100%;
                margin: 0 auto;

            }

            &--p{

                margin-top: 10px;

            }

        }

        &__patrocinio{

            .imagenPatrocinador{

                width: 150px;  
                height: 120px;

            }

        }

    }

    // Contacto

    .principalContacto{

        grid-template-columns: 1fr;
        grid-template-areas: 
            "area1"
            "area2";

        &__formulario, &__mapa{

            font-size: $parrafoResponsive;
            width: 90%;

        }

        &__mapa{

            margin: 0 auto;

        }
    }

    // Footer

    .redesFooter__derechos--p{

        display: none;

    }
}